<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div data-th-fragment="header">
<!-- Navigation -->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">BitGallery</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#contact" class="page-scroll">Contact</a></li>
                <li><a href="/board/list?category=1" class="page-scroll">예정경매</a></li>
                <li><a href="/board/list?category=1" class="page-scroll">진행경매</a></li>
                <li><a href="/board/list?category=1" class="page-scroll">종료경매</a></li>
                <li><a href="/board/list?category=2" class="page-scroll">공지사항</a></li>
                <li><a href="/" class="page-scroll">회원가입</a></li>
                <li data-th-if="${session.loginUser == null}">
                    <a href='/auth/form'>로그인</a>
                </li>
                <li data-th-if="${session.loginUser != null}" style="display: flex; align-items: center;">
                    <span data-th-text="${session.loginUser.name}" style="margin-right: 10px;"></span>
                    <a href='/auth/logout' style="font-size: 7px;">로그아웃</a>
                </li>
            </ul>
        </div>
        <!--.navbar-collapse -->
    </div>
</nav>
</div>
</html>